var handleCommisson = function handleCommisson(array){
  console.log(typeof array)
  if (JSON.parse(array)) {
    var length = JSON.parse(array).length
    var commission = []
    if (length > 0) {
      var price = 0
      if (length > 1) {
        for (var i = 0; i < length; i++) {
          array.push(JSON.parse(array)[i].price)
        }
        array.sort;
        price = JSON.parse(array)[0] + '-' + JSON.parse(array)[length - 1]
      } else {
        price = JSON.parse(array)[0]
      }
      return price
    }
  }
}
module.exports = {
  bar: handleCommisson,
};
