
var handleCommisson = function handleCommisson(array){
  if (array) {
    var length = array.length
    var commission = []
    if (length > 0) {
      var price = 0
      if (length > 1) {
        for (var i = 0; i < length; i++) {
          commission.push(parseInt(array[i].price))
        }
        commission.sort(function(a,b){
          return a - b
        })
        price = commission[0] + '-' + commission[length - 1]
      } else {
        commission.push(parseInt(array[0].price))
        console.log(length)
        price = commission[0]
      }
      return price
    }
  }
}
module.exports = {
  bar: handleCommisson,
};
